//mixins
$darkgray: #2b2b2b;
$darkestgray: #1b1b1b;
$gray: #f0f0f0;
$lightgray: #939393;
$sitecorered: #DC291E;
$darkred: #c62223;

body{
	background-image: url('../assets/background-texture.png');
	background-repeat: repeat;	
}
.sitecore-shared-source-media-embed-module{
	color: $darkgray;
	font-family: Helvetica, arial, sans-serif;
	max-width: 1000px;
	position: relative;
	margin-top: 100px;
	width: 100%;
	//width: 1000px;
	box-sizing: border-box;
	padding: 1%;
	margin: 0 auto;
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
	perspective: 1000;
	transition: 1s;
	background: white;
	transform-style: preserve-3d;
	height: 840px;
	&.js-selected-media{
		transform: rotateY(180deg);
	}
	*{
		box-sizing: border-box;
	}
	input[type=text]{
		padding: 1em;
		border: 1px solid rgba(0,0,0,0.1);
		transition: all 0.10s ease-in-out;
  		outline: none;
  		&:focus{
			box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
  			border: 1px solid rgba(0,0,0,0.1);
  			background: $gray;
		}
	}
	button{
		background: $darkgray;
		color: white;
		padding: 15px 15px;
		border: 0;
		text-align: center;
	}
	.anchored{
		position: absolute;
		top: 0;
	}
	.media-embed-module-wrapper{
	
	}
	//Flipping Classes
	.media-embed-module-front, .media-embed-module-back{
		max-width: 1000px;
		width: 100%;
		height: 100%;
		max-height: 840px;
		backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}
	.media-embed-module-front {
		z-index: 2;
		/* for firefox 31 */
		transform: rotateY(0deg);
	}
	.media-embed-module-back {
		z-index: 9;
		transform: rotateY(180deg);
	}
	//Preview view.
	.media-embed-module-preview{
 		display: inline-block;
  		vertical-align: middle;
  		max-height: 100%;
		width: 55%;
		text-align: center;
		img{
			max-width: 100%;
			box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
			height: auto;
			max-height: 760px;

		}
	}
	.media-embed-module-options{
		h1{
			font-size: 1.8em;
		}
		width: 43%;
		padding: 0 4%;
		vertical-align: middle;
  		max-height: 100%;
		display: inline-block;
		fieldset{
			border: 0;
			margin-bottom: 20px;
			padding: 0;
			label{
				font-size: .8em;
				padding: .1em;
				margin-left: .5em;
				display: block;
				margin-bottom: .5em;
			}
			input[type=text]{
				width: 100%;
				margin-left: 3px;
				margin-right: 3px;
				margin-bottom: 10px;
			}
			legend{
				font-weight: bold;
				letter-spacing: .01em;
				margin-bottom: 10px;
				display: block;
				padding: 5px;
				border-bottom: 1px dashed $darkgray;
				width: 100%;
			}
		}
		input[type=radio]{
			display: none;
			&:checked + label{
				background: $darkgray;
				color: $gray;
			}
			& + label{
				margin: 0;
				display: inline-block;
				margin: 0 1%;
				padding: 10px 10px;
				background: $gray;
				border: 0;
				color: $darkgray;
				text-align: center;
			}
		}
	}
	.media-embed-module-sizes{
		input{
			font-size: .8em;
			& + label{
				width: 30%;
			}
		}
	}
	.media-embed-module-options-container{
		width: 95%;
		box-sizing: content-box;
		padding: 2.5%;
		height: 94%;
		&:before{
			content: '';
			display: inline-block;
			height: 100%;
			vertical-align: middle;
			margin-right: -0.25em; /* Adjusts for spacing */
		}
	}
	.media-embed-module-search-container{
		overflow: hidden;
		box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.15);
		width: 100%;
		padding: 20px 0 10px;
		position: absolute;
		z-index: 9;
		top: 0;
		background: rgba(255,255,255,.85);
	}
	.media-embed-module-search-field{
		padding: 1em;
		margin-right: 2.5%;
		width: 40%;
		float: right;
		border: 1px solid rgba(0,0,0,0.1);
		transition: all 0.10s ease-in-out;
  		outline: none;
  		z-index: 9;
  		margin-bottom: 5px;
		&:focus{
			box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.2);
  			//padding: 1em;
  			border: 1px solid rgba(0,0,0,0.1);
		}
	}
	.media-embed-module-options-controls{
		width: 100%;
		margin-top: 100px;
		oveflow: show;
	}
	.media-embed-module-publish{
		float: right;
		background: $sitecorered;
		color: white;
		&:hover{
			background: $darkred;
		}
	}
	.media-embed-module-backbutton{
		float: left;
		background: $darkgray;
		color: white;
		&:hover{
			background: $darkestgray;
		}
	}
	.media-embed-module-media-container{
		height: 800px;
		overflow: auto;
	}
	.media-embed-module-results{
		list-style: none;
		margin-top: 90px;
		font-size: 0;
		padding: 0;
	}
	.media-embed-module-result{
		width: 31%;
		border-radius: 2px;
		text-align: center;
		transition: height .5s, width .5s;
		padding: 10px 10px 30px 10px;
		vertical-align: top;
		float: left;
		display: inline-block;
		margin: 1%;
		box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1);
		img{
			max-width: 100%;
		}
	
	}
}